<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
<div class="image">
  <div class="container">
    <div class="title1">
      <h1>Nearest Games In Your Area!</h1>
    </div>
    <div class="selector">
      <div class="title2">
        Type game location:
        <form #locationGameForm="ngForm" (ngSubmit)="findGame()">
        <div class="form-group">
            <input type="text" style="width: 200px" class="form-control" required name="location" [(ngModel)]="location" placeholder="Location">
            <button class="btn btn-success mt-1" (onclick)="findGame()" type="submit">Search</button>
          </div>
        </form>

        <ul>
          <li *ngFor="let game of games">
            {{game.Name}} {{game.description}} {{game.id}}
            </li>

          
        </ul>
      </div>
    </div>
  </div>
</div>