<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<div class="image">
  <div class="container">
    <div class="title1">
      <h1>Nearest Games In Your Area!</h1>
    </div>
    <div class="selector">
      <div class="title2">
        Type game location:
        <form #locationGameForm="ngForm" (ngSubmit)="findGame()">
        <div class="form-group">
            <input type="text" style="width: 200px" class="form-control" required name="location" [(ngModel)]="location" placeholder="Location">
            <button class="btn btn-success mt-1" (onclick)="findGame()" type="submit">Search</button>
          </div>
        </form>
        <div value="game.participants" *ngFor="let game of games" class="row">
          <div class="wraper">
            <div class="poster">
              
              <p>
                Game Name: {{game.name}}
              </p>
              <p>
               Description: {{game.description}}
              </p>
              <p>
               Location: {{game.location}}
              </p>
              <p>
               Host: {{game.hostName}}
              </p>
              <p>
                Date : {{game.date}}
              </p>
              <p>
                Slots: {{game.participants.length}} / {{game.slots}}
              </p>
              <button *ngIf="isAvaible(game.participants, game.slots)" style="margin-left: 5px;" class="btn btn-primary mt-1" (click)="joinGame(game.id)" type="submit">Join Game</button>
              <button [disabled]="true" *ngIf="!isAvaible(game.participants, game.slots)" style="margin-left: 5px;" class="btn btn-danger mt-1" (click)="joinGame(game.id)" type="submit">Game is Full</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>