<div class="image">
  
  <div class="container">
    <div class="title1">
      <h1>Games that you hosted</h1>
    </div>
    <div class="selector">

        <div value="game.id" *ngFor="let game of games" class="row">
          <div class="wraper">
            <div class="poster">
              
              <p>
                Game Name: {{game.name}}
              </p>
              <p>
               Description: {{game.description}}
              </p>
              <p>
               Location: {{game.location}}
              </p>
              <p>
               Host: {{game.hostName}}
              </p>
              <p>
                Date : {{game.date}}
              </p>
              <p>
               Empty Slots: {{game.slots}}
              </p>
              <button style="margin-left: 2px" class="btn btn-danger mt-1" type="submit" (click)="deleteGame(game.id)">Delete Game</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
